body{
    font-family: 'PT Serif', serif;
    color: black;
}
.btn-dark{
    background-color: rgba(25, 25, 25, 1);
    color: white;
    border-radius: 25px;
}

.bg-yellow{
    background-color: #FFC017;
}
.border-bottom-dark{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}
.btn-overall{
    font-size: 20px;
    width: 213px;
    padding: 8px 20px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 99em;
    border-color: rgba(25, 25, 25, 1);
    background: rgba(25, 25, 25, 1);
    fill: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin: 0;
    overflow: visible;
}

.aside-buttons > li {
    margin-bottom: 10px;
}

.margin-deep{
    margin-top: 100px;
}

.border-top-dark{
    border-top: 1px solid rgba(230,230,230,1);
}