body{
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-size: 50px;
    color: #f50000d5;
    margin-top: 20px;
}

p{
    font-size: 20px;
    color: #2e2c2c;
}

.fs-14{
    font-size: 14px;
}

.fs-20{
    font-size: 20px;
}

.fs-30{
    font-size: 30px;
}

a{
    margin-right: 10px;
}

ol{
    color: rgb(255, 230, 0);
    font-weight: bold;
    font-size: 18px;
}

footer{
    font-style: italic;
    font-size: 5px;
}
