body{
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    font-size: 50px;
    color: #f50000d5;
    margin-top: 20px;
}
h2 ol {
    list-style-position: inside;
    color: brown;
}

h2 ol li {
    justify-content: center;
}
.fs-14{
    font-size: 14px;
}

h2 ol li p{
    font-size: 20px;
    color: #2e2c2c;
    font-weight: normal;
}